/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* body { background-color: #02367f;} */

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #fff;
}
.navbar .media-icons a{
  color: #fff;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */

.home{
  height: 100vh;
  width: 100%;
  background: url("lmages/bg.jpg") no-repeat;
  /* background: url("https://id.lovepik.com/images/illustration-1029161.html") no-repeat ; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  
}
.home .home-content{
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
}
.home .text-one{
  font-size: 2.1rem;
  font-weight: bold;
  color: #fff;
}
.home .text-two{
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 2.2rem;
  margin: 10px 0;
  color: #fff ;
}
.home .text-four{
  font-size: 1.5rem;
  margin: 20px 0;
  color: #fff;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #ea1;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #ea1;
  background-color: rgb(0, 0, 0,0.1);
  color: #ea1;
  transform: scale(1.2);
      cursor: pointer;
}

/* projects Section Styling */
section{
  padding-top: 80px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.projects {
  padding-top: 50px;
}
.projects .projects-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
/* หัวเรื่อง  */
section .title span{
  color: rgb(34, 30, 45);
  font-size: 50px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;  
}

section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.projects .projects-details .left{
  width: 55%;
}
.projects-details .right{
  width: 40%;
  text-align: center;
}
section  .topic{
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}
.projects-details .right .topic{
  color: rgb(113, 107, 92);
  font-size: 40px;
 font-weight: 400;
 margin-bottom: 10px;
}
.projects-details .right p{
  color: #000000;
  font-size: 20px;
  margin-top: 20px;
}
/* เส้นใต้ */
/* dgkdfjgkfjdgljdlkdfjgl */


.projects-details .right .topic{
  /* color: #0E2431; *
  /* font-size: 40px; */
  font-weight: 500;
  position: relative;
  /* padding-bottom: 8px; */
}

.projects-details .right .topic::before,
.projects-details .right .topic::after{
  content: '';
  position: absolute;
  /* height: 3px; */
  width: 50%;
  background: #ed1400ed;
  left: 0;
  bottom: 0;
}
.projects-details .right .topic::after{
  bottom: -7px;
  width: 20%;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
}

/* kjDSBkjSDBfjksdbfjksdbf */
/* kjDSBkjSDBfjksdbfjksdbf */
.projects-details .right span{
  color: red;
  font-size: 18px;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}
video {
  width: 100%;
  height: auto;
  border-radius:30px;
  box-shadow: 5px 5px 10px 10px rgba(50,50,50,.4);
}
/* My skills CSS */
.skills {
  padding-top: 30px;
}
.skills .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px 0;
  
}
.skills .boxes .box{
  margin: 10px 0;
  width: calc(100% / 4 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.skills .boxes .box:hover{
  background: #d2d2d2;
  color: #fff;
}
.skills .boxes .box:hover .topic,
.skills .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.skills .boxes .box:hover .topic,
.skills .boxes .box:hover p{
  color: rgb(0, 0, 0);
}

/* contact */
.contact{
  padding: 100px;
  /* background:#000000; */
}
.contact .topic{
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}
.contact i{
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  /* border: 1px solid #ea1; */
  background-color:#ea1;
  border-radius: 50%;
}
.contact i:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.contact .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact .boxes p{
  font-weight: 600;
  color: #00bb01;
}
.contact .boxes .box{
  margin: 20px 20px;
  width: calc(150% / 4 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px; 
  border: 2px solid #000;
  box-shadow: 0 5px 10px rgb(210, 210, 210);
  cursor: default;
  transition: all 0.4s ease;
}
.contact .boxes .box:hover{
  /* background: ; */
  color: #fff;
}
.contact .boxes .box:hover .topic,
.contact .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.contact .boxes .box:hover .topic,
.contact .boxes .box:hover p{
  color: rgb(0, 0, 0);
  transform: scale(1.2);
      cursor: pointer;
}


/* contact */



/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: red;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .projects .projects-details{
    justify-content: center;
    flex-direction: column;
  }
  .projects .projects-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .projects-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .skills .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
  .contact .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .projects .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  /* บาร์ มือถือ  */
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #4070f4;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .skills .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .contact-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
  .contact-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}